<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Hadil_Jobs::job_head" title="Jobs" module="Hadil_Jobs" sortOrder="100"  resource="Hadil_Jobs::job_head" />
        <add id="Hadil_Jobs::department" title="Departments" module="Hadil_Jobs" sortOrder="10" parent="Hadil_Jobs::job_head" action="jobs/department" resource="Hadil_Jobs::job" />
        <add id="Hadil_Jobs::job" title="Jobs" module="Hadil_Jobs" sortOrder="20" parent="Hadil_Jobs::job_head" action="jobs/job" resource="Hadil_Jobs::job" />
    </menu>
</config>


